/* Hero Section */
section.topo-do-site {
    padding: 80px 4%;
}

.topo-do-site .flex {
    align-items: center;
    justify-content: space-between;
    gap: 90px;
}

.txt-topo-site h1 {
    color: var(--text-color);
    font-size: 42px;
    line-height: 40px;
    min-height: 50px;
}

.txt-topo-site h1 span {
    color: var(--primary-color);
}

.txt-topo-site p {
    color: var(--text-color);
    margin: 40px 0;
}

.cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

.img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    width: 350px;
    height: auto;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    margin-top: 25px;
}

.img-topo-site img:hover {
    filter: drop-shadow(0 0 10px var(--primary-color));
    transition: transform 0.3s, filter 0.3s;
}

@keyframes flutuar {
    0% { top: 0; }
    100% { top: 30px; }
}
