/* ESTILO GERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: black;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ESTILO DO AGRADECIMENTO */

.interface {
    max-width: 1280px;
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
    width: auto;
    height: auto;
}

.agradecimento {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
    gap: 40px;    
}

.agradecimento h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
}

.agradecimento h1 span {
    color: #8E44AD;
}

.agradecimento p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.btn-agradecimento input {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #8E44AD;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.btn-agradecimento input:hover {
    box-shadow: 0px 0px 9px #7d23a3;
    transform: scale(1.05);
    color: #fff;
}

@media (max-width: 768px) {
    .interface {
        padding: 40px 8%;
        max-width: 500px;
    }

    .agradecimento h1 {
        font-size: 32px;
    }

    .agradecimento p {
        font-size: 16px;
    }

    .btn-agradecimento input {
        padding: 10px 30px;
        font-size: 16px;
    }    
}

@media (max-width: 420px) {
    .interface {
        padding: 40px 8%;
        max-width: 300px;
    }
}