/* Variáveis de Tema */
:root {
    --background-color: black;
    --text-color: white;
    --primary-color: #8E44AD;
    --button-hover-shadow: #7d23a3;
    --overlay-color: #000000b8;
    --shadow-color: #ffffff1d;
    --hover-shadow: #ffffff78;
    --input-background: #242424;
    --placeholder-color: #ffffff63;
}

body.light-theme {
    --background-color: #fafafa;
    --text-color: black;
    --primary-color: #fa8e50;
    --button-hover-shadow: #fa8e50;
    --overlay-color: #000000b8;
    --shadow-color: #fa8e502b;
    --hover-shadow: #000000b8;
    --input-background: #e1e1e1;
    --placeholder-color: #00000063;
}

/* ESTILO GERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100dvh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 9px var(--button-hover-shadow);
    transform: scale(1.05);
    color: #fafafa;
}

h2.titulo {
    color: var(--text-color);
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: var(--primary-color);
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0 0 10px var(--primary-color);
    transform: scale(1.05);
    color: #fafafa;
}

.logo img,
.logo-footer img {
    width: 100px;
    height: auto;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
    font-size: 30px;
    cursor: pointer;
    margin: 0 5px;
    transition: .3s;
}

/* ESTILO DO HEADER */

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: var(--primary-color);
    transform: scale(1.05);
    text-shadow: 2px 2px 10px var(--text-color);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/* ALTERANADOR DE TEMA */
.theme-toggle button {
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
  
.theme-toggle button:hover {
    box-shadow: 0px 0px 8px var(--button-hover-shadow);
    transform: scale(1.05);
    color: var(--text-color);
}

/* ESTILO DO MENU MOBILE */

.btn-abrir-menu i {
    color: var(--primary-color);
    font-size: 40px;
}

.menu-mobile {
    background: var(--background-color);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: var(--primary-color);
    font-size: 30px;
}

.menu-mobile.abrir-menu {
    width: 70%
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}


.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul a {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul a:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.overlay-menu {
    background-color: var(--overlay-color);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    display: none;
}

/* ESTILO DO TOPO DO SITE */

main {
    padding: 40px 4%;
}

section.topo-do-site .interface .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .txt-topo-site h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 40px;
    color: var(--text-color);
}

.topo-do-site .txt-topo-site h1 span {
    color: var(--primary-color);
}

.topo-do-site .txt-topo-site p {
    color: var(--text-color);
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    width: 350px;
    height: auto;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    margin-top: 25px;
}

.topo-do-site .img-topo-site img:hover {
    filter: drop-shadow(0 0 10px var(--primary-color));
    transition: transform 0.3s, filter 0.3s;
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 20px;
    }
}


/* ESTILO DAS ESPECIALIDADES */

section.especialidades {
    padding: 80px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

section.especialidades .swiper {
    width: 100%;
    height: 400px;
}

section.especialidades swiper-container {
    width: 100%;
    height: 100%;
}

section.especialidades .mySwiper {
    --swiper-navigation-color: var(--primary-color);
}

section.especialidades swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

section.especialidades swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.especialidades .especialidades-box {
    color: var(--text-color);
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    width: 70%;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--hover-shadow);
    transition: .2s;
}

.especialidades .especialidades-box .descricao {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 100%;
    margin: 0 auto;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: var(--primary-color);
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.especialidades .especialidades-box p {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
}  


/* TECNOLOGIAS */

section.tecnologias {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px var(--shadow-color);
    border-radius: 20px;
}

section.tecnologias .interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

section.tecnologias .tecnologias-list {
    width: 100%;    
}

section.tecnologias .tecnologias-img {
    margin-top: 40px;
    padding: 40px;
    width: 100%;   
}

.tecnologia-img {
    margin-top: 40px;
    padding: 40px;
    width: 40%; 
}

.tecnologias-img:hover, .tecnologia-img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--hover-shadow);
    transition: .2s;
}

.tecnologias-txt {
    font-size: 28px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.tecnologias-svg{
    fill: var(--primary-color);
    width: 40px;
    height: auto;
    transition: .2s;
} 

.tecnologias-svg:hover {
    fill: var(--text-color);
    transform: scale(1.1);
}


/* ESTILO SOBRE MIM */

section.sobre {
    padding: 80px 4%;
}

.sobre-img img {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .sobre-txt {
    color: var(--text-color);
}

.sobre .sobre-txt h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .sobre-txt h2 span {
    color: var(--primary-color);
    display: block;
}

.sobre .sobre-txt p {
    font-size: 18px;
    line-height: 30px;
    margin: 30px 0;
    text-align: justify;
}


/* ESTILO DO PORTFÓLIO */

section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px var(--shadow-color);
    border-radius: 20px;
}

.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
    gap: 20px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-color: var(--primary-color);
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
    transition: .5s;
}


/* ESTILO DO FORMULÁRIO DE CONTATO */

section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: var(--input-background);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 8px;
    color: var(--text-color);
    font-size: 18px;
}

form input::placeholder,
form textarea::placeholder {
    color: var(--placeholder-color);
}

form textarea {
    resize: none;
    height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: var(--primary-color);
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPÉ */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px var(--shadow-color);
}

footer .flex {
    justify-content: space-between;
    align-items: center;
}

.line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid var(--primary-color);
}

.line-footer p i {
    color: var(--primary-color);
    font-size: 22px;
}

.line-footer p a {
    color: var(--text-color);
    text-decoration: none;
    transition: .2s;
    margin: 10px;
}

.line-footer p a:hover {
    color: var(--primary-color);
    cursor: pointer;
}

/* Melhorias no botão Voltar ao Topo */
#btn-topo {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--primary-color);
    color: var(--background-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    pointer-events: none;
}

#btn-topo.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

#btn-topo:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px var(--button-hover-shadow);
    transition: all 0.3s ease;
    color: var(--text-color)
}

/* ESTILIZAÇÃO DA RESPONSIVIDADE */

@media (max-width: 420px) {

    /* GLOBAL */
    .flex {
        flex-direction: column;
    }


    /* CABEÇALHO */
    header {
        padding: 20px 8%;
    }

    header>.interface {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 85%;
        background-color: var(--background-color);
        z-index: 1000;
    }

    .topo-do-site .txt-topo-site h1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
    }

    .menu-desktop,
    .btn-contato {
        display: none;
    }


    /* TOPO DO SITE */

    .topo-do-site {
        padding: 20px 8%;
    }

    .especialidades .interface h2.titulo {
        font-size: 32px;
        line-height: 36px;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .topo-do-site .img-topo-site {
        display: flex;
        justify-content: center;
    }

    .topo-do-site .img-topo-site img {
        width: 75%;
    }

    .topo-do-site p {
        font-size: 18px;
        line-height: 24px;
    }

    /* ESPECIALIDADES */

    section.especialidades {
        padding: 40px 8%;
    }

    section.especialidades .interface .swiper{
        width: 100%;
        height: 500px;
    }

    section.especialidades swiper-slide {
        width: 100%;
        height: 450px;
    }
    
    swiper-container {
        width: 100%;
        height: 100%;
    }
    
    swiper-slide {
        text-align: center;
        font-size: 18px;
        background: var(--background-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    
    .especialidades .especialidades-box i {
        font-size: 70px;
        color: var(--primary-color);
    }
    
    .especialidades .especialidades-box h3 {
        font-size: 28px;
        margin: 15px 0;
    }
    
    .especialidades .especialidades-box p {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }


    /* TECNOLOGIAS */

    section.tecnologias {
        padding: 40px 4%;
    }

    .tecnologia-img {
        margin-top: 40px;
        padding: 40px;
        width: 100%; 
    }

    /* SOBRE MIM */

    section.sobre {
        padding: 40px 8%;
    }

    .sobre-img {
        display: flex;
        justify-content: center;
    }

    .sobre .flex {
        flex-direction: column-reverse;
    }

    .sobre .interface .sobre-txt h2 {
        font-size: 32px;
        line-height: 36px;
        text-align: center;
    }

    .sobre .interface .sobre-txt p {
        font-size: 18px;
        line-height: 24px;
    }

    .btn-social {
        text-align: center;
    }


    /* PORTFÓLIO */

    .portfolio .interface .titulo {
        font-size: 32px;
        line-height: 36px;
    }

    section.portfolio {
        margin: 0 auto;
        box-shadow: 0 0 20px 10px var(--shadow-color);
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        height: 300px;
        margin: 0 auto;
    }

    section.portifolio .flex {
        gap: 40px;
    }


    /* FORMULÁRIO DE CONTATO */

    .formulario .interface .titulo {
        font-size: 32px;
        line-height: 36px;
    }

    section.formulario {
        padding: 40px 8%;
    }

    form {
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 40px;
    }

    form input,
    form textarea {
        width: 100%;
        background-color: var(--input-background);
        border: 0;
        outline: 0;
        padding: 20px 15px;
        border-radius: 8px;
        color: var(--text-color);
        font-size: 18px;
    }

    form input::placeholder,
    form textarea::placeholder {
        color: var(--placeholder-color);
    }

    form textarea {
        resize: none;
        height: 200px;
    }

    form .btn-enviar {
        margin-top: 20px;
        text-align: center;
    }

    form .btn-enviar input {
        width: 120px;
        background-color: var(--primary-color);
        color: var(--background-color);
        font-weight: 700;
        cursor: pointer;
        transition: .2s;
    }


    /* RODAPÉ */

    footer .flex {
        flex-direction: column;
        gap: 20px;
    }

    footer .line-footer {
        text-align: center;
    }
}

@media (max-width: 1020px) {

    /* GLOBAL */

    .flex {
        flex-direction: column;
    }


    /* CABEÇALHO */

    h2.titulo {
        font-size: 32px;
        line-height: 36px;
    }

    header>.interface {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 85%;
        background-color: var(--background-color);
        z-index: 1000;
    }

    .menu-desktop,
    .btn-contato {
        display: none;
    }


    /* TOPO DO SITE */

    .topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .topo-do-site p {
        font-size: 18px;
        line-height: 24px;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .topo-do-site .img-topo-site {
        display: flex;
        justify-content: center;
    }

    .topo-do-site .img-topo-site img {
        width: 50%;
    }


    /* TECNOLOGIAS */

    .tecnologia-img {
        margin-top: 40px;
        padding: 40px;
        width: 100%; 
    }

    
    /* ESPECIALIDADES */

    section.especialidades {
        padding: 40px 8%;
    }

    section.especialidades {
        padding: 40px 8%;
    }

    section.especialidades .interface .swiper{
        width: 100%;
        height: 500px;
    }

    section.especialidades swiper-slide {
        width: 100%;
        height: 450px;
    }
        
    swiper-container {
        width: 100%;
        height: 100%;
    }
    
    swiper-slide {
        text-align: center;
        font-size: 18px;
        background: var(--background-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .especialidades .especialidades-box {
        padding: 20px;
        width: 80%;
        height: 400px;
    }
        
    .especialidades .especialidades-box .descricao {
        width: 100%;
    }
    
    .especialidades .especialidades-box i {
        font-size: 70px;
        color: var(--primary-color);
    }
    
    .especialidades .especialidades-box h3 {
        font-size: 28px;
        margin: 20px 0;
    }
    
    .especialidades .especialidades-box p {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }


    /* SOBRE MIM */

    section.sobre {
        padding: 40px 8%;
    }

    .sobre-img {
        display: flex;
        justify-content: center;
    }

    .sobre-img img {
        width: 55%;
    }

    .sobre .flex {
        flex-direction: column;
    }

    .sobre .sobre-txt h2 {
        font-size: 32px;
        line-height: 36px;
        text-align: center;
    }

    .sobre .sobre-txt p {
        font-size: 18px;
        line-height: 24px;
    }

    .btn-social {
        text-align: center;
    }


    /* PORTFÓLIO */

    section.portfolio {
        padding: 40px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        height: 300px;
        margin: 0 auto;
    }

    section.portifolio .flex {
        gap: 60px;
    }


    /* RODAPÉ */

    footer {
        margin: 0 auto;
        box-shadow: 0 0 20px 10px var(--shadow-color);
    }

    footer .flex {
        flex-direction: column;
        gap: 20px;
    }

    footer .line-footer {
        text-align: center;
    }
}

@media (min-width: 1020px) {
    .btn-abrir-menu,
    .menu-mobile,
    .overlay-menu {
        display: none;
    }
}