/* Botão voltar ao topo */
#btn-topo {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--primary-color);
    color: var(--background-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    pointer-events: none;
}

#btn-topo.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

#btn-topo:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px var(--button-hover-shadow);
    transition: all 0.3s ease;
    color: var(--text-color);
}
