/* Estilos da seção sobre */
section.sobre {
    padding: 80px 4%;
}

.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre-img img {
    width: 550px;
    height: auto;
    border-radius: 20px;
}

.sobre .sobre-txt {
    color: var(--text-color);
}

.sobre .sobre-txt h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .sobre-txt h2 span {
    color: var(--primary-color);
    display: block;
}

.sobre .sobre-txt p {
    font-size: 18px;
    line-height: 30px;
    margin: 30px 0;
    text-align: justify;
}
