/* Estilos da seção de tecnologias */
section.tecnologias {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px var(--shadow-color);
    border-radius: 20px;
}

section.tecnologias .interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

section.tecnologias .tecnologias-list {
    width: 100%;    
}

section.tecnologias .tecnologias-img {
    margin-top: 40px;
    padding: 40px;
    width: 100%;   
}

.tecnologia-img {
    margin-top: 40px;
    padding: 40px;
    width: 40%; 
}

.tecnologias-img:hover, 
.tecnologia-img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--hover-shadow);
    transition: .2s;
}

.tecnologias-txt {
    font-size: 28px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.tecnologias-svg {
    fill: var(--primary-color);
    width: 40px;
    height: auto;
    transition: .2s;
    margin: 0 5px;
} 

.tecnologias-svg:hover {
    fill: var(--text-color);
    transform: scale(1.1);
}
